@charset "UTF-8";

/* common */
*{margin: 0; padding: 0;}
body{font-family: Lucida Grande;}
#container{width: 90%; margin: 0 auto 100px; text-align: center;}
a{color: dimgray; text-align: center; text-decoration: none;}
a:hover{color: black; font-style: italic; text-decoration: underline;}
ul li{list-style: none;}

/* main */
#main h2{margin: 30px;}
#main .main_img{margin: 30px;}
#main .main_img img{border-radius: 5px;}

/* header */
header{height: 80px; background-color: rgb(213, 213, 213); border-bottom: 2px solid rgb(66, 66, 66);}
header #logo{width: 20%; float: left; line-height: 80px;}
#logo h1 a{color: rgb(51, 51, 51); padding-left: 25px;}
#logo h1 a:hover{text-decoration: none; font-style: normal;}
header nav{width: 70%; float: right;}
#topMenu{line-height: 80px;}
#topMenu li{float: left; margin: 0 20px;}
#topMenu li a{padding: 0 20px;}

/* footer */
footer{height: 80px; border-top: 2px solid rgb(66, 66, 66);}
#bottomMenu{margin: 10px 20px;}
#bottomMenu li{float: left; margin: 10px 0; padding: 0 10px; border-right: 2px solid #ccc;}
#bottomMenu li:last-child{border: none;}

/* memberlist */
#memberlist h2{margin: 30px;}
#tbl_list{margin: 30px auto; text-align: center; border-collapse: collapse;}
tr, th, td{border: 1px solid rgb(66, 66, 66); padding: 10px;}
#tbl_list th{background-color: rgb(213, 213, 213);}

/* joinform */
#join{width: 600px; margin: 20px auto;}
#join form{margin: 20px auto;}
#join h2{margin: 30px;}
#join form fieldset{margin-bottom: 16px;}
#join form ul li{margin: 30px;}
#join form ul li label{padding-right: 10px;}
#join form ul li input{padding: 5px;}
#join form ul li input[type="text"]{width: 200px; clear: both; float: right; margin-right: 100px;}
#join form ul li input[type="radio"]{margin-right: 5px;}
#join form ul li #gender_opt .check{margin-right: 20px;}
#join form ul li #gender_opt{width: 200px; float: right; margin-right: 100px;}
#join_btn button{padding: 10px 20px; font-size: 11px; font-weight: bold;
	background-color: rgb(211, 211, 211); margin: 0 10px 10px 10px;}